################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
*.csproj.user
/App/App/swagger-oidc/.cache
/App/App/swagger-oidc/node_modules
